@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Ant Design Collapse */
.ant-collapse {
  background: transparent !important;
  border: none !important;
}

.ant-collapse-item {
  border: none !important;
  margin-bottom: 1rem !important;
}

.ant-collapse-header {
  background: #032237 !important;
  border-radius: 8px !important;
  padding: 1rem !important;
}

.ant-collapse-header-text {
  background: linear-gradient(90deg, #b99755 0%, #f5ec9b 50%, #b99755 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
}

.ant-collapse-expand-icon {
  color: #f5ec9b !important;
}

/* Active state styles */
.ant-collapse-item-active .ant-collapse-header {
  background: linear-gradient(
    90deg,
    #b99755 0%,
    #f5ec9b 50%,
    #b99755 100%
  ) !important;
}

.ant-collapse-item-active .ant-collapse-header-text {
  background: none !important;
  -webkit-background-clip: unset !important;
  -webkit-text-fill-color: #032237 !important;
  color: #032237 !important;
}

.ant-collapse-item-active .ant-collapse-expand-icon {
  color: #032237 !important;
}

.ant-collapse-content {
  background: rgb(245, 245, 245) !important;
  border: none !important;
}

.ant-collapse-content-box {
  padding: 1rem !important;
}

/* Custom styles for Ant Design Collapse */
.ant-collapse-item-active .ant-collapse-header {
  background: linear-gradient(to right, #b99755, #f5ec9b, #b99755) !important;
  color: #df0d0d !important;
}

.ant-collapse-item-active .ant-collapse-header-text {
  color: #032237 !important;
}

.ant-collapse-item-active .ant-collapse-expand-icon {
  color: #032237 !important;
}

.golden-gradient-text {
  background: linear-gradient(90deg, #b99755 0%, #f5ec9b 50%, #b99755 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
