@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Ant Design Collapse */
.ant-collapse {
  background: transparent !important;
  border: none !important;
}

.ant-collapse-item {
  border: none !important;
  margin-bottom: 1rem !important;
}

.ant-collapse-header {
  background: #032237 !important;
  border-radius: 8px !important;
  padding: 1rem !important;
}

.ant-collapse-header-text {
  color: white !important;
  font-weight: 600 !important;
  font-size: 1.125rem !important;
}

.ant-collapse-expand-icon {
  color: white !important;
}

.ant-collapse-content {
  background: rgb(245, 245, 245) !important;
  border: none !important;
}

.ant-collapse-content-box {
  padding: 1rem !important;
}

/* Custom styles for Ant Design Collapse */
.ant-collapse-item-active .ant-collapse-header {
  background: linear-gradient(to right, #b99755, #f5ec9b, #b99755) !important;
}

.ant-collapse-item-active .ant-collapse-header-text {
  color: #032237 !important;
}

.ant-collapse-item-active .ant-collapse-expand-icon {
  color: #032237 !important;
}
